version: "3.8"

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped

    ports:
      - "5678:5678"

    volumes:
      - ./n8ndata:/home/node/.n8n

    environment:
      - NODE_ENV=production
